<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PHP JSON REST API</title>
    <link href="/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
<div class="row text-center">
    <h1>PHP JSON REST API</h1>
    <div class="col-md-12 text-center">
        <div class="col-md-12">
            <h2>Orders Listing</h2>
            <?php if (!is_array($orders) || count($orders) == 0) : ?>
                <h5>There are no orders to display</h5>
            <?php else : ?>
                <p>
                    <select name="select-order" id="select-order" onchange="getSingleOrder(this.value)">
                        <option value="">Select an Order to view individually</option>
                        <?php foreach ($orders as $order) : ?>
                            <option value="<?php echo $order['order_id']; ?>"><?php echo $order['customer_name']; ?> - <?php echo $order['product_name']; ?> - <?php echo $order['order_created']; ?></option>
                        <?php endforeach; ?>
                    </select>
                </p>
                <table class="table table-bordered">
                    <tr>
                        <th>Order ID</th>
                        <th>Customer name</th>
                        <th>Customer email</th>
                        <th>Customer phone</th>
                        <th>Product name</th>
                        <th>Product quantity</th>
                        <th>Order Created</th>
                    </tr>
                    <tbody id="orders-listing">
                    <?php foreach ($orders as $order) : ?>
                        <tr>
                            <td><?php echo $order['order_id']; ?></td>
                            <td><?php echo $order['customer_name']; ?></td>
                            <td><?php echo $order['customer_email']; ?></td>
                            <td><?php echo $order['customer_phone']; ?></td>
                            <td><?php echo $order['product_name']; ?></td>
                            <td><?php echo $order['product_quantity']; ?></td>
                            <td><?php echo $order['order_created']; ?></td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
            <?php endif; ?>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <div class="col-md-6" style="margin: 0 25%;">
            <h2>Create Order Form</h2>
            <form action="/app" method="post" id="order-form">
                <fieldset>
                    <legend>Please make your selections then click Send Order</legend>
                    <div class="row form-group">
                        <div class="col-md-12 form-group">
                            <label class="control-label" for="customer-id">Customers</label>
                            <select class="form-control" id=""=customer-id" name="customer_id" multiple required="required">
                                <option value=""">Select one or more customers</option>
                                <?php foreach ($customers as $customer) : ?>
                                    <option value="<?php echo $customer['customer_id']; ?>"><?php echo $customer['customer_name'] . ' - ' . $customer['customer_email']; ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 form-group">
                            <label class="control-label" for="product-id">Products</label>
                            <select class="form-control" name="product_id" multiple required="required">
                                <option value=""">Select one or more products</option>
                                <?php foreach ($products as $product) : ?>
                                    <option value="<?php echo $product['product_id']; ?>"><?php echo $product['product_name']; ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 form-group">
                            <label class="control-label" for="quantity">Quantity</label>
                            <input class="form-control" type="number" min="1" max="10" id="quantity" name="quantity">
                        </div>
                    </div>
                </fieldset>
                <button type="submit" name="submit">Send Order</button>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {

        $("#order-form").on('submit', function(event) {

            event.preventDefault();

            var data = $(this).serialize(), url = '/orders';

            $.ajax({
                method: "POST",
                url: url,
                dataType: 'json',
                data: { order:JSON.stringify( data )},
                beforeSend: function( xhr ) {
                    xhr.overrideMimeType( "application/json" );
                }

            }).done(function( response ) {
                if (response.success == 1) {
                    getDirectory();
                }
            });
        });

        function getDirectory() {
            var url = '/orders';
            $.ajax({
                method: "GET",
                url: url,
                dataType: 'json',
                beforeSend: function( xhr ) {
                    xhr.overrideMimeType( "application/json" );
                }

            }).done(function( response ) {
                var x;
                if (response.success == 1) {
                    $('#orders-listing').html('');
                    for (x in response.data){
                        $('#orders-listing').append('<tr><td>' + response.data[x]['order_id'] + '</td><td>' + response.data[x]['customer_name'] + '</td><td>' + response.data[x]['customer_email'] + '</td><td>' + response.data[x]['customer_phone'] + '</td><td>' + response.data[x]['product_name'] + '</td><td>' + response.data[x]['product_quantity'] + '</td><td>' + response.data[x]['order_created'] + '</td></tr>');
                    }
                }
            });
        }

    });

    function getSingleOrder( value ) {
        if (value) {
            var url = '/orders/' + value;
            $.ajax({
                method: "GET",
                url: url,
                dataType: 'json',
                beforeSend: function( xhr ) {
                    xhr.overrideMimeType( "application/json" );
                }

            }).done(function( response ) {
                var x;
                if (response.success == 1) {
                    $('#orders-listing').html('');
                    $('#orders-listing').append('<tr><td>' + response.data['order_id'] + '</td><td>' + response.data['customer_name'] + '</td><td>' + response.data['customer_email'] + '</td><td>' + response.data['customer_phone'] + '</td><td>' + response.data['product_name'] + '</td><td>' + response.data['product_quantity'] + '</td><td>' + response.data['order_created'] + '</td></tr>');
                }
            });
        }
    }

</script>
</body>
</html>